<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ag.pay">

    <application>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- alipay sdk end -->

        <!-- weixin pay -->
        <activity
            android:name="${PACKAGE_NAME}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

    </application>

</manifest>
